@import "/src/styles/style.scss";

.bookmarks {
    @include themify($themes) {
        background-color: themed("bgSoft");
        min-height: 100vh;
        padding: 20px 70px;

        @include mobile {
            padding: 10px;
        }

        @include tablet {
            padding: 20px;
        }

        .bookmarksContainer {
            max-width: 700px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h2 {
                font-size: 22px;
                font-weight: 500;
                color: themed("textColor");
            }

            .emptyState {
                color: themed("textColorSoft");
                font-style: italic;
                font-size: 14px;
            }
        }
    }
}