@import "/src/styles/style.scss";

.explore {
    @include themify($themes) {
        background-color: themed("bgSoft");
        padding: 20px 70px;
        min-height: 100vh;
        color: themed("textColor");
    }
}
